<section class="hero">
  <div class="hero-img-wrapper">
    <img
      src="./img/hero/amico.png"
      alt="People with product in different places"
      class="hero-img"
    />
  </div>
  <h1 class="hero-title">Work at the speed of thought</h1>
  <p class="hero-description">
    Tools, tutorials, design and innovation experts, all in one place! The most
    intuitive way to imagine your next user experience.
  </p>
  <button type="button">Get started</button>
  <button type="button">Watch the video</button>
</section>
